<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>#{appName}</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>j2app.sh</string>
	<key>CFBundleIconFile</key>
	<string>#{appIcon}</string>
	<key>CFBundleIconName</key>
    <string>#{appIcon}</string>
	<key>CFBundleIdentifier</key>
	<string>#{appIdentifier}</string>
	<key>CFBundleVersion</key>
    <string>#{appVersion}</string>
	<key>CFBundleShortVersionString</key>
    <string>#{appVersion}</string>
	<key>CFBundleName</key>
	<string>#{appName}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>#{appCopyright}</string>
	<key>NSMainNibFile=</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<array/>
</dict>
</plist>
